{% extends '_base.html' %}
{% block header_logo %}
<div class="tologo">
    <a href="/"><img class='qrl' style="height: 150px" src="/static/assets/styles/logo_white.png"></a>
    <h3 class="message-title">Каждый может
        сделать Москву чище!</h3>
</div>
{% endblock %}
{% block content %}
<h4 class="box-title">Личный кабинет</h4>
<div class="col-md-6 margin-bottom-20">
    {% if user_type == 'userlow' %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Код</th>
                <th>Тип</th>
                <th>Вес</th>
                <th>Обработан</th>
            </tr>
        </thead>
        <tbody>
        {% for i in trichcodes %}
            <tr>
                <td>{{ i.code }}</td>
                <td>{{ i.get_lot_type_display }}</td>
                <td>{{ i.weight }} кг.</td>
                <td>{% if i.accessed %}Да{% else %}Нет{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Кол-во лотов</th>
            </tr>
        </thead>
        <tbody>
        {% for i in users %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.user_trichcodes.all|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="col-md-12">
            <h4>Общее кол-во отходов:</h4>
            <ul>
                {% for i in q %}
                <li>{{ i.lot_type }} - {{ i.weight__sum }} кг.</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}